<div class="span6 offset3 text-center stolen-surfbox">
<h1 class="custom-font-1"> Hello I am Nirav </h1>
<br/>

<h2 class="custom-font-2">I'm having a lot of fun learning how to code at the Firehose weekend</h2>

<br/>
<br/>
<%= link_to("Launch App", pics_path, :class => 'btn btn-large btn-primary') %>
</div>