<div class="my-wrapper">
	<h1>My Pics </h1>
	<% @pics.each do |pic| %>
		<div class="span3 stolen-surfbox ">
			<h2 class="custom-font-1">Hour:<%= pic.hour %> </h2>
			<h3 class="custom-font-2">I feel:<%= pic.emotion %></h3>
			<p class="custom-font-3">Learned:<%= pic.Learned %></p>
			<!-- < %= link_to("Edit", pic_path, :class => 'btn btn-large btn-primary') %>  -->
		</div>
	<%end %>
</div>s