		body {
			
			background: url('NatureImage.jpg') no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}


.custom-font-1 {
	color:white;
	font-family: Helvetic Neue Light, Helvetica Neue, Helvetica, san-sefif;
	font-size: 64px;
	font-weight:100;

}



.custom-font-2 {
	color:white;
	font-family: Helvetic Neue Light, Helvetica Neue, Helvetica, san-sefif;
	font-size: 28px;
	font-weight:300;

}

.box h2, .box p, .box h3  {
	color:white;
	}

	.my-wrapper h1,
	.my-wrapper h2,
	.my-wrapper h3,
	.my-wrapper p {

	color:white;
	}








